

.inputbox {
    border: 2px solid lightgray;
    margin:2px;
    
}
.button{
    border: 3px solid light #6f24a4;
    background-color: #EB4DA1;
    color:white;
    height: 50px;
    width: 100%;
    max-width: 200px;
    font-size: x-large;
    border-radius: 5px;
    
    
}
main{
    background-image: url("/TU-Delft-cover-photo-.jpg");
    display:flex;
    width: 100%;
    height: auto;
    
    padding-bottom: 30px;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}

.column{
    overflow:hidden;
    align-self: center;
    flex:1; 
     
}


form{
    display: flex;

    width: 75%;
}
