*{
    font-family: "Roboto Mono";
    box-sizing: border-box;
    margin:0px;
    
      
}
body{
    min-width: 400px;
}
header{
    min-width: 400px;
}
main{
    min-width: 400px;
}
.navigationlink { color: white; }

.navigationlink{
    padding: 5px;
}

header{
    background-color:#EB4DA1;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 500px;
    
}
#nameOfTheWebsite{
    display:inline-block;
    font-family: "Roboto Mono";
    padding-bottom: 15px;
    letter-spacing: 0.15em;
    border:3px solid white;
}
.navigation{
   align-self:center;
   padding-right: 20px;
}
main{
    background-image: url("/background.png");
}
#logo{
    display:inline-block;
    height: auto;
    width: 20%;
    max-width: 500px;
    max-height: auto;
    min-height: auto;
    min-width: 250px;
    
}

submit:hover{
    color:#EB4DA1;
}