.inputbox {
    border: 2px solid lightgray;
    margin:10px;
    border-radius: 5px;
    
}
.button{
    border: 3px solid light #6f24a4;
    background-color: #EB4DA1;
    color:white;
    height: 50px;
    width: 100%;
    max-width: 200px;
    font-size: x-large;
    border-radius: 5px;
    
    
}

main{
    background-image: url("/TU-Delft-cover-photo-.jpg");
    display:flex;
    width: 100%;
    height: auto;
    margin-top: 10px; 
   
    align-items: center;
    justify-content: center;
}

.column{
   
    align-self: center;
    flex:1; 
     
}
textarea{
    resize:none;
    min-height: 75px;
}
h2{
    margin:5px;
}
p{
    margin: 5px;
}

form{
    display: flex;
    margin: 30px;
    width: 75%;
    flex-wrap: wrap;
}
